* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --header-large: 24px;
    --bg-white: #ffff;
    --bg-dark:#252B42;
    --bg-gray: #fafafa;
    --bg-orange:#FA4A0C;
    --bg-darkgrey:#646466;
    
}

.container {
    height: 100vh;
    /* overflow: hidden; */
    font-family:"Montserrat";
}

header {
    display: flex;
    justify-content: space-between;
}

header img {
    width: 104px;
    height: 51.34px;
    margin:20px;
    font-weight: 400;
}

.nav-links div {
    display: none;
}  

.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 2px 10px;
    position: relative;
}
  
  .nav-links ul li a {
    text-decoration: none;
    color: var(--bg-dark);
    font-size: 16px;
    line-height:28px;
    font-weight: 600;
  }
  
  .nav-links ul li::after {
    color: var(--bg-orange);
  }
  
  .nav-links ul li:hover {
    color: var(--bg-orange) ;
  }


  .bx-menu{
    margin:30px 20px;
    font-size: 50px;
    color: var(--bg-darkgrey);
  }

  .section-one {
    background-color:var(--bg-gray);
  }

  .section-one h5 {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.1px;
    color:var(--bg-darkgrey);
  }
  .section-one h1 {
    font-size: 36px;
    text-align: center;
    font-weight: 900;
    margin-top: 10px;
    color: #252B42;
  }
  .section-one h4 {
    font-size: 24px;
    text-align: center;
    font-weight: 500;
    line-height: 38px;
    margin: 20px 15px;
  }
  .section-one div a {
    display: flex;
    flex-direction: column;
    padding: 16px 0px;
    width: 236px;
    height: 68px;
    align-items: center;
    margin: auto;
    border-radius: 30px;
    margin-bottom: 15px;
    color: var(--bg-white);
    background: var(--bg-orange);
    box-shadow: 0px 40px 40px rgb(0,0,0,0.7);
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.1px;
    border: 1px solid var(--bg-orange);
    line-height: 36px;
    text-decoration: none;
  }

  .section-one div a:hover {
    background-color:transparent;
    color: var(--bg-orange);
    transition: 1s;
  }

   .section-container {
    display: flex;
  }
  #sectionimg {
    width: 530px;
    height: 651px;
    margin: -65px -100px;
  }
  #sectionimgs {
    width: 219px;
    height: 408px;
    margin: 50px -53px;
  }
 
  .section-one h3 {
    font-size: 24px;
    text-align: center;
    font-weight: 600;
    line-height: 36px;
    margin: 20px 15px;
  }


  /* section two designs */
  .section-two {
    margin-bottom: -100px;
  }
  #sectwo-content {
    margin:30px ;
  }
  .section-two h3 {
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    line-height: 36px;
    margin: 20px 15px;
    color: var(--bg-orange);
  }
  .section-two h2 {
    font-size: 40px;
    text-align: center;
    font-weight: 900;
    margin-top: 10px;
    color: #252B42;
  }

  .section-two h4 {
    font-size: 24px;
    text-align: center;
    font-weight: 500;
    line-height: 38px;
    margin: 40px;
    color: var(--bg-darkgrey);
  }
  .section-two div img {
    width: 650px;
    height: 881px;
   margin-left:  -70px;
    margin-top: -100px;
  }


  /* section three designs */
 .section-three {
  margin-top: -80px;

 }
  .section-three h3 {
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    line-height: 36px;
    color: var(--bg-orange);
  }

  .section-three h2 {
    font-size: 40px;
    text-align: center;
    font-weight: 900;
    margin-top: 10px;
    color: var(--bg-dark);
    margin: 30px;
  }

  .section-three h4 {
    font-size: 24px;
    text-align: center;
    font-weight: 500;
    line-height: 38px;
    margin: 40px;
    color: var(--bg-darkgrey);
  }
  .section-three div img {
    width: 650px;
    height: 881px;
   margin-left:  -70px;
    margin-top: -100px;
  }

  .section-three {
    margin-top: -80px;
  
   }
    .section-three h3 {
      font-size: 24px;
      text-align: center;
      font-weight: 700;
      line-height: 36px;
      color: var(--bg-orange);
    }
  /* section four design */

  .section-four {
    margin-top: -80px;
  
   }
    .section-four h3 {
      font-size: 24px;
      text-align: center;
      font-weight: 700;
      line-height: 36px;
      color: var(--bg-orange);
    }
  
    .section-four h2 {
      font-size: 40px;
      text-align: center;
      font-weight: 900;
      margin-top: 10px;
      color: var(--bg-dark);
      margin: 50px;
    }
  
    .section-four h4 {
      font-size: 24px;
      text-align: center;
      font-weight: 500;
      line-height: 38px;
      margin: 40px;
      color: var(--bg-darkgrey);
    }
    .section-four div img {
      width: 650px;
      height: 881px;
     margin-left:  -70px;
      margin-top: -100px;
    }
   /* design for section-five */

   .section-five {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background: var(--bg-dark);
    margin-top: -100px;
   }
   .section-five h2 {
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: var(--bg-white);
    margin: 20px;
   }
   .section-five h4 {
    font-size: 24px;
    text-align: center;
    font-weight: 500;
    line-height: 38px;
    margin: 40px;
    color: var(--bg-gray)
  }

  .section-five div{
    font-display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .section-five div a {
    text-decoration: none;
    color: var(--bg-white);
    font-weight: 700;
    line-height: 28px;
    background: var(--bg-orange);
    border: 2px solid var(--bg-orange);
    margin: 20px ;
    padding: 20px 35px;
    border-radius: 10px;
  }
  .section-five div a:hover {
    background: transparent;
    border: 2px solid var(--bg-white);
  }

 /* designs for footer */

 footer div {
  display: flex;
  align-items: center;
  justify-content: center;
 }

 footer div .fa-brands {
  color: var(--bg-orange);
  padding: 20px;
  font-size: 40px;
  margin: 20px 5px;
 }

 footer span {
  font-size: 12px;
  font-family: Roboto;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.1px;
  color: var(--bg-darkgrey);
  margin-left:90px;
  padding-bottom: 50px;
  margin-top: -100px;
 }