* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --header-large: 24px;
    --bg-white: #fff;
    --bg-dark:#252B42;
    --bg-gray: #e2dfdf;
    --bg-orange:#FA4A0C;
    --bg-darkgrey:#646466;
    
}

.container {
    height: 100vh;
    overflow: hidden;
    font-family:"Montserrat";
}

header {
    display: flex;
    justify-content: space-between;
}

header img {
    width: 104px;
    height: 51.34px;
    margin:20px;
    font-weight: 400;
}

.nav-links div {
    display: none;
}  

.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 2px 10px;
    position: relative;
}
  
  .nav-links ul li a {
    text-decoration: none;
    color: var(--bg-dark);
    font-size: 16px;
    line-height:28px;
    font-weight: 600;
  }
  
  .nav-links ul li::after {
    color: var(--bg-orange);
  }
  
  .nav-links ul li:hover {
    color: var(--bg-orange) ;
  }


  .bx-menu{
    margin:30px 20px;
    font-size: 50px;
    color: grey;
  }

  .section-one {
    background-color:#e2dfdf;
  }

  .section-one h5 {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.1px;
    color:var(--bg-darkgrey);
  }
  .section-one h1 {
    font-size: 36px;
    text-align: center;
    font-weight: 900;
    margin-top: 10px;
    color: #252B42;
  }
  .section-one h4 {
    font-size: 24px;
    text-align: center;
    font-weight: 500;
    line-height: 38px;
    margin: 20px 15px;
  }
  .section-one div a {
    display: flex;
    flex-direction: column;
    padding: 16px 0px;
    width: 236px;
    height: 68px;
    align-items: center;
    margin: auto;
    border-radius: 30px;
    margin-bottom: 15px;
    color: var(--bg-white);
    background: var(--bg-orange);
    box-shadow: 0px 40px 40px rgb(0,0,0,0.7);
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.1px;
    border: 1px solid var(--bg-orange);
    line-height: 36px;
    text-decoration: none;
  }

  .section-one div a:hover{
    background-color:transparent;
    color: var(--bg-orange);
  }

 